*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container2{
    position: relative;
    height: 930px;
    /* height: 100vh; */
    background: url(Images/landing-bg.png) no-repeat center;
    background-size: cover;
}

body{
    background: white;
    font-family: 'Bebas Neue', cursive;
}

/* Navbar*/

.logo-image{
    width: 10%;
}

.navbar{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: center;
    background-color: #223549;
}

.logo{
    width: 30%;
}

.navtext{
    width: 70%;
    display: flex;
}

.navtext ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.container .navbar .navtext ul li a{
    color: white;
    font-size: 1.3vw;
    margin: 0 25px;
    text-decoration: none;
    font-family: 'Open Sans';
    cursor: pointer;
}

.navbar .wrapper1 .navtext ul li .final-btn{
    box-sizing: border-box;
    border-radius: 25px;
    background: #EC663D;
    padding: 10px 35px;
    margin: 0;
}

/* Wrappers */

.wrapper1{
    width: 90%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.wrapper2{
    height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.wrapper3{
    width: 90%;
    margin: 0 auto;
}

.wrapper4{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

.wrapper5{
    width: 90%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}

.wrapper6{
    width: 80%;
    display: flex;
    margin: 90px auto 20px auto;
    flex-direction: row;
    justify-content: center;
}

.wrapper7{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 10px auto;
}


/* Body */


/* Landing 1 */


.landing1{
    position: relative;
    top: 350px;
    display: flex;
    width: 100%;
    color: white;
    flex-direction: row;
    font-size: 2vw;
}

.text{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.text h2{
    font-size: 4.5vw;
    font-weight: 100;
}

.text p{
    font-size: 1.3vw;
    font-family: 'Open Sans';
    margin: 10px 0;
}

.landing1 .text a{
    text-decoration: none;
    color: white;
    font-family:'Open Sans';
    font-size: 1.5vw;
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    background: #EC663D;
    text-align: center;
    width: 12vw;
    padding: 10px;
}

.landing-image{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-image{
    height: 95%;
}

.logo-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -70px;
}

.logo-img a{
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 50%;
    background: #EC663D;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.landing-image .landing-right-image{
    position: relative;
    top: -170px;
    width: 50vw;
    left: -40px;
}


/* Landing 2 */


.landing2{
    width: 100%;
    position: relative;
    top: 210px;
    display: flex;
    flex-direction: column;
}

.text1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.text1 .heading1{
    font-size: 2.5vh;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px 25px;
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: #6A7EDA;
    margin-bottom: 5vw;
}

.text1 h2{
    font-size: 7vh;
    font-weight: 100;
    margin-bottom: 30px;
}

.text1 .wording1{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 1.1vw;
    color: #A8A8B6;
}

.info1{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vw;
}

.info1 .sec{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.info1 .sec h3{
    font-weight: 100;
    font-size: 1.5vw;
    margin: 30px 0;
}

.info1 .sec .content1{
    font-family: 'Open Sans';
    text-align: center;
    color: #727288;
    font-size: 1.1vw;
}

.info1 .sec.two .content1{
    color: black;
}


/* Landing 3 */


.landing3{
    position: relative;
    width: 100%;
    top: 500px;
    display: flex;
    flex-direction: row;
}

.info2{
    width: 60%;
    display: flex;
    justify-content: center;
}

.info2 .img2{
    width: 42vw;
    height: auto;
}

.text2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.text2 .heading2{
    font-family: 'Bebas Neue';
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    background: #6A7EDA;
    padding: 5px 20px;
    color: white;
    font-weight: 100 !important;
    margin: 10vh 0;
}

.text2 h2{
    font-size: 4.5vw;
    font-weight: 100;
    margin-bottom: 20px;
}

.text2 .content2{
    font-family: 'Open Sans';
    color: #727288;
    line-height: 25px;
    font-size: 1.2vw;
}

.text2 a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: white;
    box-sizing: border-box;
    border-radius: 25px;
    margin: 30px 0;
    background-color: #EC663D;
    padding: 15px 60px;
}

/* Landing 4 */

.landing4{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 800px;
}

.text3{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.text3 .text3special1{
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 45px;
}

.text3special1 .heading3{
    font-size: 1.5vw;
    box-sizing: border-box;
    border-radius: 25px;
    background: #6A7EDA;
    padding: 5px 20px;
    color: white;
    font-weight: 100;
    margin-bottom: 4vw;
}

.text3special1 h2{
    font-size: 4vw;
    font-weight: 100;
    margin-bottom: 2vw;
}

.text3special1 .content3{
    font-family: 'Open Sans';
    color: #727288;
    font-size: 1.1vw;
    line-height: 30px;
}

.text3 .text3special2{
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.text3special2 .heading3special{
    width: 50%;
    font-size: 1.5vw;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
}

.text3special2 .heading3special4{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
}

.line1{
    display: flex;
    height: 90%;
    margin-bottom: 10px;
}

.line2{
    height: 10%;
}

.info3{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img3{
    width: 40vw;
}

/* Landing 5 */

.landing5{
    position: relative;
    top: 2280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #EC663D;
}

.text4{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
    align-content: center;
}

/* .landing5 .wrapper3{
    width: 90%;
} */

.text4 .info4{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info4 .heading4{
    font-size: 1.6vw;
    margin: 30px 0;
    color: white;
    font-weight: 100;
}

.info4 .wording4{
    font-family: 'Open Sans';
    font-size: 1vw;
    color: black;
}

.img4{
    width: 6vw;
}

/* Landing 6 */

.landing6{
    position: relative;
    top: 2560px;
    display: flex;
    flex-direction: row;
}

.text5{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.text5special1{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.text5special1 .heading5{
    box-sizing: border-box;
    border-radius: 25px;
    color: white;
    padding: 5px 20px;
    font-size: 25px;
    font-weight: 100;
    background: #6A7EDA;
    margin-bottom: 30px;
}

.text5special1 h2{
    font-size: 4vw;
    margin: 20px 0;
    font-weight: 100;
}

.text5special1 .wording5{
    font-family: 'Open Sans';
    font-weight: 100;
    width: 85%;
    font-size: 1vw;
}

.text5special2{
    height: 50%;
    display: flex;
    margin: 30px 0;
    flex-direction: column;
}

.text5special3{
    height: 50%;
    display: flex;
    flex-direction: row;
}

.text5special4{
    height: 50%;
    display: flex;
    flex-direction: row;
}

.text5special5{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.text5special6{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
}

.text5special6 .heading5special{
    font-size: 30px;
    margin: 10px 0;
}

.text5special6 .wording5special{
    font-family: 'Open Sans';
    font-weight: 100;
    color: #727288;
    font-size: 1.1vw;
}

.img6{
    width: 5vw;
}

.info5{
    width: 60%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.img5{
    width: 38vw;
}

/* Landing 7 */

.landing7{
    position: relative;
    top: 2800px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.text6{
    width: 50%;
}

.text6 .heading6{
    font-size: 23px;
    font-weight: 100;
    box-sizing: border-box;
    border-radius: 25px;
    background: #6A7EDA;
    color: white;
    padding: 5px 25px;
}

.text6 h2{
    font-size: 5vw;
    margin: 60px 0;
    font-weight: 100;
}

.text6 .wording6{
    font-size: 1.1vw;
    color: #727288;
    font-family: 'Open Sans';
    line-height: 35px;
}

.info6{
    width: 50%;
}

.item{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border: solid;
    border-color: orange;
    border-radius: 25px;
}

.itemspecial1{
    height: 80%;
    margin: 60px;
}

.itemspecial1 .stuff{
    font-family: 'Open Sans';
    font-size: 1.2vw;
}

.itemspecial2{
    height: 20%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
}

.itemspecial3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 50px;
    margin-right: 40px;
}

.owl-carousel .owl-item .imgseven{
    border-radius: 50%;
    width: 110px;
    height: 100px;
    margin: 0 20px;
}

.itemspecial4{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
}

.itemspecial5 p{
    font-size: 25px;
}

.itemspecial6 p{
    font-size: 16px;
    margin: 10px 0;
    font-family: 'Open Sans';
    color: #727288;
}

/* Landing 8 */

.landing8{
    position: relative;
    top: 3120px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-grow: 5;
}

.info7{
    width: 20%;
    display: flex;
    justify-content: center;
}

/* Landing 9 */

.landing9{
    position: relative;
    top: 3450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text8{
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text8 .heading8{
    font-size: 20px;
    box-sizing: border-box;
    border-radius: 25px;
    background: #6A7EDA;
    padding: 5px 25px;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
}

.text8 h2{
    font-size: 4vw;
    font-weight: 100;
    margin: 20px 0;
}

.text8 .wording8{
    font-family: 'Open Sans';
    color: #727288;
    font-size: 1.1vw;
    width: 60%;
    text-align: center;
    line-height: 40px;
}

.info8{
    height: 70%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-grow: 3;
}

.info8 .boxdesign{
    border: solid;
    width: 30%;
    box-sizing: border-box;
    border-radius: 25px;
    border-color: #EC663D;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-width: 1px;
}

.boxdesign1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin: 50px;
}

.boxdesign1 .heading9{
    font-size: 35px;
    font-weight: 100;
}

.boxdesign1 h2{
    font-size: 40px;
    margin: 15px 0;
}

.boxdesign1 .dotone{
    margin: 20px 0;
}

.boxdesign1 .wording9{
    font-family: 'Open Sans';
    margin: 5px 0;
    color: #727288;
}

.boxdesign1 a{
    text-decoration: none;
    font-family: 'Open Sans';
    border: solid;
    box-sizing: border-box;
    border-radius: 25px;
    border-color: #EC663D;
    color: #EC663D;
    margin-top: 50px;
    padding: 10px 55px;
}

.landing10{
    position: relative;
    top: 3700px;
    height: 100%;
    background: url(Images/available\ get\ it\ now.png);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.text10{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 120px 0;
}

.text10 h2{
    color: white;
    font-size: 4vw;
    font-weight: 100;
}

.text10 p{
    font-family: 'Open Sans';
    color: white;
    font-size: 1.2vw;
    font-weight: 100;
}

.info10{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.info10 a{
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-radius: 25px;
    background: #EC663D;
    padding: 10px 60px;
    font-size: 25px;
    font-weight: 100;
    margin-right: 5vw;
    margin-top: 25px;
}

/* Ending */

.ending{
    position: relative;
    top: 3700px;
    width: 100%;
    background: #223549;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.social{
    color: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.social h2{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 100;
}

.icons a{
    color: white;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 50%;
    background: #EC663D;
    padding: 15px 20px;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    color: white;
    font-weight: 100;
    justify-content: flex-start;
    width: 25%;
}

.contact h2{
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 25px;
}

.contact .contact1{
    color: #727288;
    font-family: 'Open Sans';
    font-size: 1.2vw;
}

.contact a{
    text-decoration: none;
    font-family: 'Open Sans';
    color: white;
    font-size: 1vw;
    margin: 25px 0;
}

.contact .mobile{
    font-family: 'Open Sans';
    font-size: 1vw;
}

.menu{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    width: 25%;
}

.menu h2{
    margin-bottom: 40px;
    font-weight: 100;
    font-size: 25px;
}

.menu p{
    font-family: 'Open Sans';
    margin-bottom: 25px;
    font-size: 1.1vw;
}

.subscribe{
    display: flex;
    width: 25%;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.subscribe h2{
    font-weight: 100;
}

.line3{
    height: 10%;
}

.endingtext{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 40px 0;
}

.endingleft{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.endingleft p{
    color: white;
    margin-right: 120px;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 100;
}

.endingright{
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.endingright p{
    color: #727288;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: 100;
}